
@import url('https://fonts.googleapis.com/css2?family= Open + Sans:wght@300 & display=swap');

.desafio1 {
    color:orange;
    background-color: green;
    font-family: 'Open Sans', sans-serif;
}

#lista1 {
color: #0e406e;
list-style: circle;
background-color: #7d946a;
font-family: 'Open Sans', sans-serif;
}

#lista2 {
color: #0e406e;
list-style: circle;
background-color: #7d946a;
font-family: 'Open Sans', sans-serif;
}